<html>
<head>
    <meta charset="UTF-8">
    <title>小区年份价格关系可视化</title>
    <script src="http://gisapi.cindata.cn/jquery/jquery-2.1.1.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel='stylesheet' href='http://gisapi.cindata.cn/mapbox-gl/v0.47.0/mapbox-gl.css'/>
    <script src='http://gisapi.cindata.cn/mapbox-gl/v0.47.0/mapbox-gl.js'></script>
    <link rel="stylesheet" href="js/citySelect/citySelect/common.css">
    <script type="text/javascript" src="js/citySelect/citySelect/citySelect.js"></script>
</head>
<body>
<div id='app'>
    <div id='map'></div>
    <div class='legend'>
        <div class='left y-axis'><div>建成年份</div><div>2000年</div><div>1980年</div></div>
        <div class='right title'>{{areaInfo.name}}小区建成年份与价格关系</div>
        <div class='right square'>
            <div v-for="(item,index) in colorList">
                <div
                    v-for="(item2,index2) in item"
                    :style="{'background-color': item2}"
                    @click="legendItemClick(index,index2,$event)">
                </div>
            </div>
        </div>
        <div class='right x-axis'>
            <div>{{caculateMaxInt(areaInfo.other.properties.avg_price*pricePercent[0])}}</div>
            <div>{{caculateMaxInt(areaInfo.other.properties.avg_price*pricePercent[1])}}</div>
            <div>小区均价</div>
        </div>
    </div>
</div>
<div id="citySelect-show" class="suspended-frame">
    <span>北京市</span>
    <img src="http://gisapi.cindata.cn/project/citySelect/images/more.png"  alt="选择城市"  style="vertical-align: inherit;margin-left: 5px;"/>
</div>
<div id="citySelectDiv" style="display:none;" class="suspended-frame">
    <div id="citySelect-title">当前城市：北京市</div>
    <div id="citySelect-content">
        <ul id="citySelect-popular">
            <li name="北京市">北京市</li>
            <li name="沈阳市">沈阳市</li>
            <li name="哈尔滨市">哈尔滨市</li>
            <li name="上海市">上海市</li>
            <li name="杭州市">杭州市</li>
            <li name="青岛市">青岛市</li>
            <li name="武汉市">武汉市</li>
            <li name="广州市">广州市</li>
            <li name="深圳市">深圳市</li>
            <li name="重庆市">重庆市</li>
            <li name="成都市">成都市</li>
        </ul>
        <div id="citySelect-toolbar">
            <div id="citySelect-province" class="citySelect-btn">按省份</div>
            <div id="citySelect-city" class="citySelect-btn select">按城市</div>
            <input id="citySelect-search-input" type="text" placeholder="输入城市名" value="">
            <ul id="citySelect-alphabetic-province" class="citySelect-alphabetic" style="display:none">
            </ul>
            <ul id="citySelect-alphabetic-city" class="citySelect-alphabetic">
            </ul>
        </div>
        <div id="citySelect-list">
            <dl id="citySelect-province-list" class="citySelect-list" style="display:none">
            </dl>
            <dl id="citySelect-city-list" class="citySelect-list">
            </dl>
        </div>
    </div>
</div>
<style>
    html, body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #00192E;
    }
    #app,
    #map{
        width:100%;
        height:100%;
    }
    .legend{
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
        right: 20px;
        bottom: 20px;
        border-radius: 3px;
        width: 250px;
        height: 200px;
        padding: 10px;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-stretch: 100%;
    }
    .legend>.left{
        position: absolute;
        text-align: right;
        width:50px;
    }
    .legend>.right{
        position: absolute;
        margin-left: 60px;
    }
    .legend>.title{
        font-weight: bold;
    }
    .legend>.square{
        top:30px;
    }
    .legend>.square>div>div{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 1px;
        border-radius: 5px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        cursor: pointer;
    }
    .legend>.square>div>div.unselect{
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(images/forbidden.png);
    }
    .legend>.x-axis{
        bottom:10px;
    }
    .legend>.x-axis>div{
        bottom:10px;
        display: inline-block;
    }
    .legend>.x-axis>div:nth-child(1){
        margin-left: 35px;
    }
    .legend>.x-axis>div:nth-child(2){
        margin-left: 25px;
    }
    .legend>.x-axis>div:nth-child(3){
        margin-left: 20px;
    }
    .legend>.y-axis>div:nth-child(1){
        margin-top: 20px;
    }
    .legend>.y-axis>div:nth-child(2){
        margin-top: 26px;
    }
    .legend>.y-axis>div:nth-child(3){
        margin-top: 37px;
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            areaInfo: {
                name: '北京市',
                level: 2,
                other: {
                    properties:{
                        avg_price: 66005
                    }
                }
            },
            map: null,
            popup: new mapboxgl.Popup({
                closeButton: true,
                closeOnClick: false
            }),
            featureClicked: null,
            buildyear:[1980,2000],
            pricePercent:[0.7,1.3],
            colorList: [
                ["rgb(0, 175, 231)", "rgb(66, 122, 142)", "rgb(92, 71, 61)"],
                ['rgb(152, 207, 229)', "rgb(175, 151, 139)", "rgb(170, 95, 55)"],
                ["rgb(255, 239, 226)", 'rgb(255, 178, 134)', "rgb(249, 117, 41)"]
            ]
        },
        created: function () {

        },
        methods: {
            legendItemClick: function (row,col,event) {
                var $target = $(event.target);
                $target.toggleClass('unselect');
                var layerId = 'community_high';
                var filter = ['all',[">", "avg_price", 0], [">", "buildyear", 0],['all',[">", "buildyear", 0]],['any']];
                switch (row){
                    case 0:
                        layerId = 'community_high';
                        filter[3] = ['all',[">", "buildyear", app.buildyear[1]]];
                        break;
                    case 1:
                        layerId = 'community_mid';
                        filter[3] = ['all',[">", "buildyear", app.buildyear[0]],["<", "buildyear", app.buildyear[1]]];
                        break;
                    case 2:
                        layerId = 'community_low';
                        filter[3] = ['all',["<", "buildyear", app.buildyear[0]]];
                        break;
                }
                var avg_price = app.caculateMaxInt(app.areaInfo.other.properties.avg_price);
                $('.legend>.square>div').eq(row).find('div').each(function(index,element){
                    if(!$(this).hasClass('unselect')){
                        if(index==0)filter[4].push(['all', ["<", "avg_price", avg_price*app.pricePercent[0]]]);
                        if(index==1)filter[4].push(['all',[">", "avg_price", avg_price*app.pricePercent[0]], ["<", "avg_price", avg_price*app.pricePercent[1]]]);
                        if(index==2)filter[4].push(['all',[">", "avg_price", avg_price*app.pricePercent[1]]]);
                    }
                });
                this.map.setFilter(layerId,filter);
            },
            //计算最大整数
            caculateMaxInt: function (value) {
                var length = Math.floor(Math.log10(value));
                var maxBit = Math.round(value/Math.pow(10,length));
                return Math.pow(10,length)*maxBit;
            }
        },
        watch: {
            // 如果 `areaInfo` 发生改变，这个函数就会运行
            areaInfo: function (newAreaInfo, oldAreaInfo) {
                try{
                    var newAvgPrice = newAreaInfo.other.properties.avg_price;
                    var oldAvgPrice = oldAreaInfo.other.properties.avg_price;
                    if(newAvgPrice != oldAvgPrice){
                        var avg_price = app.caculateMaxInt(newAvgPrice);
                        var colorStyle_high = {
                            type: 'interval',
                            property: "avg_price",
                            stops: [
                                [0,app.colorList[0][0]],
                                [avg_price*app.pricePercent[0],app.colorList[0][1]],
                                [avg_price*app.pricePercent[1],app.colorList[0][2]]
                            ],
                            default: '#D6D6D4'
                        };
                        var colorStyle_mid = {
                            type: 'interval',
                            property: "avg_price",
                            stops: [
                                [0,app.colorList[1][0]],
                                [avg_price*app.pricePercent[0],app.colorList[1][1]],
                                [avg_price*app.pricePercent[1],app.colorList[1][2]]
                            ],
                            default: '#D6D6D4'
                        };
                        var colorStyle_low = {
                            type: 'interval',
                            property: "avg_price",
                            stops: [
                                [0,app.colorList[2][0]],
                                [avg_price*app.pricePercent[0],app.colorList[2][1]],
                                [avg_price*app.pricePercent[1],app.colorList[2][2]]
                            ],
                            default: '#D6D6D4'
                        };
                        app.map.setPaintProperty('community_high', 'circle-color', colorStyle_high);
                        app.map.setPaintProperty('community_mid', 'circle-color', colorStyle_mid);
                        app.map.setPaintProperty('community_low', 'circle-color', colorStyle_low);
                    }
                }catch (e){console.log(e)}
            }
        },
    });
    initMap();
    function initMap() {
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam5leCIsImEiOiJjamw0a3UyejkwNTl5M3Bqb29oa3AxeTNyIn0.TkW5lUoMnYJW2xJoVGNk3g';
        var basemapUrl = 'http://gissvc4an.cindata.cn/arcgis/rest/services/comm/ChinaGray/MapServer/export?F=image&FORMAT=PNG32&TRANSPARENT=true&SIZE=256%2C256&BBOX={bbox-epsg-3857}&BBOXSR=3857&IMAGESR=3857&DPI=90';
        var style = {
            version: 8,
            glyphs: "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
            sources: {
                "ChinaGray": {
                    "type": "raster",
                    "tiles": [basemapUrl],
                    "tileSize": 256
                },
            },
            layers: [{
                "id": "baseMap",
                "type": "raster",
                "source": "ChinaGray"
            }]
        };
        app.map = new mapboxgl.Map({
            container: 'map',
            style: style,
            minZoom: 6,
            maxZoom: 24,
            bearing: 0,
            pitch: 0,
            zoom: 9,
            center: [116.43199130100004, 39.94557711600004],
            // zoom: 3.3730078727134853,
            // center: [106.74769083687772, 36.73816806558061],
            preserveDrawingBuffer: true
        });
        app.map.addControl(new mapboxgl.NavigationControl(), 'top-left');
        app.map.on('load', function () {
            addLayer_community_low();
            addLayer_community_mid();
            addLayer_community_high();
        });
        app.map.on('moveend', function () {
            var currentZoom = app.map.getZoom();
            var bbox = [app.map.getBounds()._sw.lng, app.map.getBounds()._sw.lat, app.map.getBounds()._ne.lng, app.map.getBounds()._ne.lat];
            queryAreaInfo(currentZoom, bbox, function (areaInfo) {
                if (areaInfo) {
                    app.areaInfo = areaInfo;
                    $('#citySelect-show>span').html(app.areaInfo.name);
                }
            });
        });
    }
    //计算最大整数
    function caculateMaxInt(value) {
        var length = Math.floor(Math.log10(value));
        var maxBit = Math.round(value/Math.pow(10,length));
        return Math.pow(10,length)*maxBit;
    }
    function queryAreaInfo(zoom,bbox,success) {
        if (zoom < 4) {
            success({name: '全国', level: 0, other: {}});
        } else {
            var level, url, typeName, maxFeatures;
            if (zoom >= 5 && zoom < 6) {
                level = 1;
                url = 'http://geoserver.cindata.cn/geoserver/cim/ows';
                typeName = 'gp_province';
                maxFeatures = 100;
            } else {
                level = 2;
                url = 'http://geoserver.cindata.cn/geoserver/cim/ows';
                typeName = 'gr_city_cim';
                maxFeatures = 500;
            }
            $.ajax({
                type: "post",
                async: true,
                url: url,
                data: {
                    service: "WFS",
                    version: "1.0.0",
                    request: "GetFeature",
                    typeName: typeName,
                    maxFeatures: maxFeatures,
                    outputFormat: "application/json",
                    // bbox: bbox.join(',')
                },
                success: function (geojson) {
                    if(!geojson||geojson.features.length==0)return null;
                    //查询到多个要素时，返回距离中心点最近的
                    var center = [(bbox[0] + bbox[2]) / 2, (bbox[1] + bbox[3]) / 2];
                    var minIndex = 0;
                    var minCoordinates = geojson.features[minIndex].geometry.coordinates;
                    var minDistance = Math.pow(minCoordinates[0] - center[0], 2) + Math.pow(minCoordinates[1] - center[1], 2);
                    for (var i = 0; i < geojson.features.length; i++) {
                        if(!geojson.features[i].geometry||!geojson.features[i].geometry.coordinates)continue;
                        var curCoordinates = geojson.features[i].geometry.coordinates;
                        var curDistance = Math.pow(curCoordinates[0] - center[0], 2) + Math.pow(curCoordinates[1] - center[1], 2);
                        if (curDistance < minDistance) {
                            minDistance = curDistance;
                            minIndex = i;
                        }
                    }
                    success({
                        name: geojson.features[minIndex].properties.name,
                        level: level,
                        other: geojson.features[minIndex]
                    });
                }
            });
        }
    }
    //添加小区原始图层
    function addLayer_community_low() {
        var avg_price = app.caculateMaxInt(app.areaInfo.other.properties.avg_price);
        app.map.addLayer({
            'id': 'community_low',
            'type': 'circle',
            'source': {
                'scheme': "tms",
                'type': "vector",
                'tiles': ["http://geoserver.cindata.cn/geoserver/gwc/service/tms/1.0.0/gxd:gp_community@EPSG:900913@pbf/{z}/{x}/{y}.pbf"],
            },
            "source-layer": "gp_community",
            'filter': ['all',[">", "avg_price", 0], ["<", "buildyear", 1980]],
            'paint': {
                'circle-radius': 4, //半径
                'circle-opacity': 0.8, //不透明度 `0 ~ 1.0`
                'circle-color': {
                    type: 'interval',
                    property: "avg_price",
                    stops: [
                        [0,app.colorList[2][0]],
                        [avg_price*app.pricePercent[0],app.colorList[2][1]],
                        [avg_price*app.pricePercent[1],app.colorList[2][2]]
                    ],
                    default: '#D6D6D4'
                },
                'circle-blur': 0,
                'circle-stroke-width': 1, //轮廓线宽度
                'circle-stroke-opacity': 0, //轮廓线透明度
                'circle-stroke-color': 'white', //轮廓线颜色
            },
            minzoom: 6
        });
        addPopup('community_low',['label','avg_price','buildyear'],['小区名称','均价','建成年份']);
    }
    //添加小区原始图层
    function addLayer_community_mid() {
        var avg_price = app.caculateMaxInt(app.areaInfo.other.properties.avg_price);
        app.map.addLayer({
            'id': 'community_mid',
            'type': 'circle',
            'source': {
                'scheme': "tms",
                'type': "vector",
                'tiles': ["http://geoserver.cindata.cn/geoserver/gwc/service/tms/1.0.0/gxd:gp_community@EPSG:900913@pbf/{z}/{x}/{y}.pbf"],
            },
            "source-layer": "gp_community",
            'filter': ['all',[">", "avg_price", 0], [">=", "buildyear", 1980],["<", "buildyear", 2000]],
            'paint': {
                'circle-radius': 4, //半径
                'circle-opacity': 0.8, //不透明度 `0 ~ 1.0`
                'circle-color': {
                    type: 'interval',
                    property: "avg_price",
                    stops: [
                        [0,app.colorList[1][0]],
                        [avg_price*app.pricePercent[0],app.colorList[1][1]],
                        [avg_price*app.pricePercent[1],app.colorList[1][2]]
                    ],
                    default: '#D6D6D4'
                },
                'circle-blur': 0,
                'circle-stroke-width': 1, //轮廓线宽度
                'circle-stroke-opacity': 0, //轮廓线透明度
                'circle-stroke-color': 'white', //轮廓线颜色
            },
            minzoom: 6
        });
        addPopup('community_mid',['label','avg_price','buildyear'],['小区名称','均价','建成年份']);
    }
    //添加小区原始图层
    function addLayer_community_high() {
        var avg_price = app.caculateMaxInt(app.areaInfo.other.properties.avg_price);
        app.map.addLayer({
            'id': 'community_high',
            'type': 'circle',
            'source': {
                'scheme': "tms",
                'type': "vector",
                'tiles': ["http://geoserver.cindata.cn/geoserver/gwc/service/tms/1.0.0/gxd:gp_community@EPSG:900913@pbf/{z}/{x}/{y}.pbf"],
            },
            "source-layer": "gp_community",
            'filter': ['all',[">", "avg_price", 0],  [">=", "buildyear", 2000]],
            'paint': {
                'circle-radius': 4, //半径
                'circle-opacity': 0.8, //不透明度 `0 ~ 1.0`
                'circle-color': {
                    type: 'interval',
                    property: "avg_price",
                    stops: [
                        [0,app.colorList[0][0]],
                        [avg_price*app.pricePercent[0],app.colorList[0][1]],
                        [avg_price*app.pricePercent[1],app.colorList[0][2]]
                    ],
                    default: '#D6D6D4'
                },
                'circle-blur': 0,
                'circle-stroke-width': 1, //轮廓线宽度
                'circle-stroke-opacity': 0, //轮廓线透明度
                'circle-stroke-color': 'white', //轮廓线颜色
            },
            minzoom: 6
        });
        addPopup('community_high',['label','avg_price','buildyear'],['小区名称','均价','建成年份']);
    }
    //添加气泡
    function addPopup(layerId, properties, propertienames) {
        if (app.featureClicked) {
            app.map.off('click', layerId, function (e) {
            });
            app.popup.setHTML(getPopupHtmlByProperties(properties, propertienames))
        }

        // var properties = ['avg_price','area_cnt','area_id','area_level	','avg_price','building_cnt','city_id	','community_cnt','created_dt','	house_cnt'];
        app.map.on('click', layerId, function (e) {
            featureClicked = e.features[0];
            var html = getPopupHtmlByProperties(properties, propertienames);
            app.popup.setLngLat(e.lngLat)
                .setHTML(html)
                .addTo(app.map);
        });
        // Change the cursor to a pointer when the mouse is over the states layer.
        app.map.on('mouseenter', layerId, function () {
            app.map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        app.map.on('mouseleave', layerId, function () {
            app.map.getCanvas().style.cursor = '';
        });
    }

    //获取气泡html
    function getPopupHtmlByProperties(properties, propertienames) {
        var maxlength = 30
        var html = '';
        if (!properties || properties.length == 0) {
            properties = [];
            for (var property in featureClicked.properties) {
                properties.push(property);
            }
        }
        if (!propertienames) propertienames = properties;
        for (var index=0; index< properties.length;index++) {
            var property = properties[index];
            var propertiename = propertienames[index];
            var value = featureClicked.properties[properties[index]];
            if (!propertiename) propertiename = property;
            if (!value) value = '-';
            if (value.length > maxlength) value = value.substr(0, maxlength);
            html += '<div><label>' + propertiename + '：</label><label title="'+ featureClicked.properties[properties[index]]+'">' + value + '</label></div>';
        }
        return html;
    }
</script>
<script>
    var ctrl = {
        area: null,
        cityId: 2,
        swicthCity: function (area) {
            this.area = area;
            this.cityId = area.areaId;
            var filter =
                '&filter=' +
                '<PropertyIsEqualTo>' +
                '<PropertyName>city_id</PropertyName>' +
                '<Literal>' + this.cityId + '</Literal>' +
                '</PropertyIsEqualTo>'
            var url = 'http://geoserver.cindata.cn/geoserver/cim/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=cim:gp_city'
                + filter +
                '&maxFeatures=100&outputFormat=application%2Fjson'
            $.ajax({
                url: url,
                type: 'get',
                async: false,
                success: function (data) {
                    var center = data.features[0].geometry.coordinates;
                    ctrl.flyTos(center);
                }
            })
        },
        on: function () {
            $('.btn_sw').on('click', function () {
                ctrl.swicthCity(this.id)
            });
        },
        flyTos: function (center) {
            app.map.flyTo({
                center: center,
                zoom: 11,
                bearing: 0,
                speed: 1, // make the flying slow
                curve: 1, // change the speed at which it zooms out
                easing: function (t) { return t; }
            });
        }
    }
    ctrl.on();
</script>
</body>
</html>
